.btn1 {
    width: 200px;
    height: 50px;
    background-color: red;
    border-radius: 20px;
}

.btn2 {
    width: 200px;
    height: 50px;
    background-color: blue;
    border-radius: 20px;
}

.btn3 {
    width: 200px;
    height: 50px;
    background-color: green;
    border-radius: 20px;
}

.btn4 {
    width: 200px;
    height: 50px;
    background-color: violet;
    border-radius: 20px;
    
}
.adimg {
    position: relative;
    left:1300px
    }
.body{
    background-color: wheat;
   


